.Speakers {
    min-height: 100vh;
    height: auto;
    color: var(--white-color);
}
.Speakers .speakers_grid .speakers_tempalte_card {
    margin: 60px auto;
    max-width: 1080px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Info */

.Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_info_box {
    width: 600px;
    height: 320px;
    background-color: var(--primary-color);
    border-radius: 24px;
    padding: 16px 36px 16px 36px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_info_box .speakers_tempalte_card_info_box_speaker_name {
    font-size: 36px;
    font-weight: 700;
    padding: 0;
}
.Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_info_box .speakers_tempalte_card_info_box_speaker_title {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 24px;
    color: var(--white-color-tertiary);
}
.Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_info_box .speakers_tempalte_card_info_box_speaker_summary {
    font-size: 16px;
    line-height: 1;
}

/* Image */

.Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_image_box {
    position: relative;
    top: 0;
    left: -20px;
    width: 300px;
    height: 480px;
    background-color: var(--dark-background-tertiary);
    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_image_box .speakers_tempalte_card_image_box_circle {
    height: 180px;
    width: 180px;
    background-color: var(--primary-color);
    border-radius: 50%;
}
.Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_image_box .speakers_tempalte_card_image_box_background_image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 400px;
    width: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
}
.Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_image_box .speakers_tempalte_card_image_box_background_image_1{
    background-image: url(../../assets/speakers/elon_musk.png);
}
/* .Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_image_box .speakers_tempalte_card_image_box_background_image_2{
    background-image: url();
}
.Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_image_box .speakers_tempalte_card_image_box_background_image_3{
    background-image: url();
}
.Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_image_box .speakers_tempalte_card_image_box_background_image_4{
    background-image: url();
}
.Speakers .speakers_grid .speakers_tempalte_card .speakers_tempalte_card_image_box .speakers_tempalte_card_image_box_background_image_5{
    background-image: url();
} */